*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width:320px) and (max-width:480px) {
    *{
        background-color: #dd7017;
    } 
}
#one
{
    height: 950px;
    width: 1518px;
    background-color: #ffece1;
    background-image: url(img/Shape\ .png); 
    background-repeat: no-repeat;
}
#header
{
    height: 100px;
    width: 100%;
    filter: drop-shadow(0px 1px 17px rgba(146,127,116,0.21));
    background-color: #ffece1;
    display: flex;
}
#logo
{
    height: initial;
    width: 20%;
    text-align: center;
    padding-top: 15px;
}
#link1
{
    height: initial;
    width: 50%;
    padding-top: 22px;
    text-align: center  ;
}
a
{
    text-decoration: none;
    font-size: 19px;
    line-height: 59px;
    color: #649483;
    font-weight: 400;
    font-family: "Clear Sans";
    padding-left: 20px;
}
#link2
{
    height: initial;
    width: 30%;
    text-align: center;
    padding-top: 33px;
}
#inp1
{
    height: 25px; 
    width: 120px; 
    background-color: #649483; 
    color: white; 
    font-weight: bold; 
    border: none; 
    border-radius: 10px;
}
#img1
{
    position: relative;
    top: 10px; 
    left: 15px;
}
#img2
{
    position: relative; 
    top: 10px; 
    left: 35px;
}
#main
{
    height: 870px;
    display: flex;
}
#main1
{
    height: inherit;
    text-align: center;
}
#img3
{
    position: relative;
    top: 50px;
    animation: one infinite 5s;
}
@keyframes one {
    0%{
        top: 0%;
        left: 0%;
    }
    25%{
        top: 0%;
        left: 15%;
    }
    50%{
        top: 10%;
        left: 15%;
    }
    75%{
        top: 10%;
        left: 0%;
    }
    100%{
        top: 0%;
        left: 0%;
    }
    
}
#p1
{
    font-size: 19px; 
    color: #649483;  
    font-weight: 700; 
    font-family: Clear Sans;
}
#p2
{
    font-size: 16px; 
    color: #649483; 
    font-weight: 400; 
    font-family: Clear Sans; 
    padding-right: 10px;
}
#main2
{
    height: inherit;
    text-align: center;
}
#p3
{
    font-size: 118px; 
    line-height: 107px; 
    color: #dd7017; 
    font-weight: 700; 
    font-family: Clear Sans;
    position: relative; 
    top: 190px;
}

#inp2
{
    height: 35px; 
    width: 180px; 
    background-color: #649483; 
    color: white; 
    font-weight: bold; 
    border: none; 
    border-radius: 10px;
    position: relative;
    top: 200px;
}
#inp3
{
    height: 35px; 
    width: 110px; 
    color: #649483; 
    border-color: #649483; 
    font-weight: bold; 
    border-radius: 10px; 
    font-weight: bold; 
    margin-left: 20px;
    position: relative;
    top: 200px;
}
#p4
{
    font-size: 17px; 
    line-height: 36px; 
    color: white; 
    font-weight: 700; 
    font-family: Clear Sans; 
    padding-left: 5px; 
    padding-top: 45px; 
    padding-bottom: 130px; 
    position: absolute; 
    transform: rotate(270deg);
}
#menu
{
    height: 200px; 
    width: 845px;
    background-color: #dd7017; 
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 190px;
    margin-left: 1px;
}
#menu1
{
    position: relative;
    top: 19px;
    right: 10px;
}
#IMg{
    position: relative;
    left: 50px;
}
#img4
{
    position: relative; 
    left: 30px;
}
#img5
{
    position: relative; 
    left: 5px;
}
#img6
{
    position: relative; 
    right: 25px;
    bottom: 1px;
}
#img7
{
    background-color: #dd7017;
    position: relative;
    right: 50px;
    bottom: 100px;
}
.menu2
{
    text-align: center;
    margin-top: -50px;
    margin-right: 540px;
    font-size: 12px;
    color: white;
    font-weight: 400;
    font-family: "Clear Sans";
}
.menu3
{
    text-align: center;
    margin-top: -45px;
    margin-right: 190px;
    font-size: 12px;
    color: white;
    font-weight: 400;
    font-family: "Clear Sans";
}
.menu4
{
    text-align: center;
    margin-top: -48px;
    margin-left: 150px;
    font-size: 12px;
    color: white;
    font-weight: 400;
    font-family: "Clear Sans";
} 
.menu5
{
    text-align: center;
    margin-top: -42px;
    margin-left: 480px;
    font-size: 12px;
    color: white;
    font-weight: 400;
    font-family: "Clear Sans";
} 


#two
{
    height: 920px;
    width: 1518px;
    background-color: #649483;
}
#main4
{
    font-size: 112px;
    line-height: 107px;
    color: #ffece1;
    font-weight: 700;
    font-family: "Clear Sans";
    padding-top: 80px;
    margin-left: 110px;
}
#main5
{
    font-size: 17px;
    line-height: 36px;
    color: #fff4ee;
    font-weight: 700;
    font-family: "Clear Sans";
    padding-top: 20px;
    padding-left: 120px;
}
#main6
{
    display: flex;
    justify-content: space-evenly;
}
.main6
{
    height: 550px;
    border-radius: 29px;
    background-color: #ffece1;
}
#main7,#main10,#main12
{
    font-size: 19px;
    text-transform: uppercase;
    color: #649483;
    font-weight: 700;
    font-family: "Clear Sans";
    text-align: center;
    padding-top: 40px;
}
.main9
{
    font-size: 19px;
    color: #649483;
    font-weight: 400;
    font-family: "Clear Sans";
    text-align: center;
}


#three
{ 
    height: 907px;
    width: 1518px;
    background-color: #ffece1;
    background-image: url(img/Shape-2.png); 
    background-repeat: no-repeat;
}
#main14
{
    display: flex;
}
#main15
{
    height: inherit;
    width: 50%;
    position: relative;
    top: 80px;
    left: 100px;
}
#main16
{
    height: inherit;
    width: 50%;
    text-align: center;
}
#p5
{
    font-size: 18px; 
    color: #649483; 
    font-weight: bolder; 
    font-family: Clear Sans;
    position: relative; 
    top: 140px; 
    right: 280px;
}
#p6
{
    font-size: 105px; 
    line-height: 107px; 
    color: #dd7017; 
    font-weight: 700; 
    font-family: Clear Sans;
    position:relative; 
    top: 140px; 
    right: 200px;
}
#p7
{
    font-size: 25px; 
    color: #649483; 
    font-weight: 400; 
    font-family: Clear Sans;
    text-align: left; 
    position: relative; 
    top: 180px; 
    right: 70px;
}
#main17
{
    position: relative;
    top: 220px;
    right: 260px;
}
#inp4
{
    height: 35px; 
    width: 105px; 
    color: white; 
    font-weight: bold; 
    position: relative; 
    right: 290px; 
    bottom: 5px; 
    border: none; 
    border-radius: 10px; 
    background-color: #649483;
}
#main18
{
    padding-top: 40px;
    padding-left: 190px;
}
#inp5
{
    height: 35px; 
    width: 105px; 
    color: white; 
    font-weight: bold; 
    position: relative; 
    right: 290px; 
    bottom: 5px; 
    border: none; 
    border-radius: 10px; 
    background-color: #649483;
}


#four
{
    height: 750px;
    width: 1518px;
    background-color: #ffece1;
    background-image:url(img/Shape-3.png); 
    background-repeat: no-repeat;
}
#main19
{
    height: inherit;
    display: flex;
}
#main20
{
    height: inherit;
    width: 50%;
    position: relative;
    left: 50px;
}
#p8
{
    font-size: 19px; 
    color: #649483; 
    font-weight: 700; 
    font-family: Clear Sans; 
    position: relative; 
    left: 80px;
}
#p9
{
    font-size: 112px; 
    line-height: 107px; 
    color: #dd7017; 
    font-weight: 700; 
    font-family: Clear Sans; 
    position: relative; 
    left: 80px;
}
#main22
{
    position: relative;
    top: 40px;
    left: 70px;
}
#inp6
{
    height: 35px; 
    width: 105px; 
    color: white; 
    font-weight: bold; 
    position: relative; 
    right: 290px; 
    bottom: 5px; 
    border: none; 
    border-radius: 10px; 
    background-color: #649483;
}
#inp7
{
    height: 35px; 
    width: 105px; 
    color: white; 
    font-weight: bold; 
    position: relative; 
    right: 290px; 
    bottom: 5px; 
    border: none; 
    border-radius: 10px;
    background-color: #649483;
}
#inp8
{
    height: 35px; 
    width: 105px; 
    color: white; 
    font-weight: bold; 
    position: relative; 
    right: 290px; 
    bottom: 5px; 
    border: none;
    border-radius: 10px; 
    background-color: #649483;
}
#inp9
{
    height: 35px; 
    width: 105px; 
    color: white; 
    font-weight: bold; 
    position: relative; 
    right: 290px; 
    bottom: 5px; 
    border: none; 
    border-radius: 10px;
    background-color: #649483;
}
#img8
{
    position: relative; 
    left: 100px;
}
#main23
{
    position: relative;
    left: 450px;
    bottom: 132px;
    animation: three 5;
}

#main24
{
    position: relative;
    left: 70px;
    bottom: 70px;
}
#main25
{
    position: relative;
    left: 450px;
    bottom: 245px;
}


#five
{
    height: 760px;
    width: 1518px;
    background-color: #649483;
}
#main26
{
    font-size: 112px;
    line-height: 107px;
    color: #ffece1;
    font-weight: 700;
    font-family: "Clear Sans";
    padding-top: 90px;
    padding-left: 75px;
}
#main27
{
    font-size: 17px;
    line-height: 36px;
    color: #fff4ee;
    font-weight: 700;
    font-family: "Clear Sans";
    padding-top: 10px;
    padding-left: 75px;
    padding-bottom: 50px;
}
#main28
{
    display: flex;
    justify-content: space-evenly;
}
.main29
{
    height: 382px;
    width: 304px;
    border-radius: 14px;
    background-color: #ffece1;
}
#main30,#main33,#main36
{
    font-size: 29px;
    color: #dd7017;
    font-weight: 700;
    font-family: "Clear Sans";
    text-align: center;
    position: relative;
    top: 20px;
}
#main31,#main34,#main37
{ 
    padding-top: 90px; 
    padding-left: 100px;
}
#main32,#main35,#main38
{
    width: 252px;
    height: 46px;
    font-size: 19px;
    color: #dd7017;
    font-weight: 400;
    font-family: "Clear Sans";
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
}
.img13{
    height: 25px; 
    width: 50px; 
    position: relative; 
    top: 180px; 
    left: 10px;
}

#six
{
    height: 905px;
    width: 1518px;
    background-color: #ffece1;
    background-image: url(img/Shape-4.png); 
    background-repeat: no-repeat;
}
#main39
{
    height: inherit;
    width: 100%;
    display: flex;
}
#main40
{
    height: inherit;
    width: 50%;
    position: relative;
    left: 5px;
}
#main41
{
    height: inherit;
    width: 50%;
    display: flex;
}
#main42
{
    font-size: 112px;
    line-height: 107px;
    color: #dd7017;
    font-weight: 700;
    font-family: "Clear Sans";
    padding-top: 250px;
    padding-left: 150px;
}
#main43
{
    width: 750px;
    height: 67px;
    font-size: 19px;
    color: #649483;
    font-weight: 400;
    font-family: "Clear Sans";
    text-align: left;
    padding-top: 50px;
    padding-left: 150px;
}
#main44
{
    padding-top: 140px;
    padding-left: 150px;
} 
#inp10
{
    height: 40px; 
    width: 170px; 
    background-color: #649483; 
    color: white; 
    font-weight: bold; 
    border: none; 
    border-radius: 10px;
}
#inp11
{
    height: 40px; 
    width: 110px; 
    background-color: #ffece1; 
    color: #649483; 
    font-weight: bold; 
    border-color: #649483; 
    border-radius: 10px;
}
#main45
{
    height: 904px;
    width: 365px;
    background-color: #dd7017;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    margin-left: 395px;
}
#img9
{
    position: relative; 
    top: 90px; 
    left: 260px;
} 
#p10
{
    font-size: 19px; 
    color: #ffece1; 
    font-weight: 700; 
    font-family: Clear Sans; 
    padding-top: 100px; 
    padding-left: 120px;
}
#main50
{
    position: relative;
    top: 10px; 
    right: 400px;
}


#seven
{
    height: 726px;
    width: 1518px;
    background-color: #649483;
}
#main46
{
    font-size: 112px;
    line-height: 107px;
    color: #ffece1;
    font-weight: 700;
    font-family: "Clear Sans";
    padding-top: 100px;
    padding-left: 140px;
}
#main47
{
    display: flex;
    justify-content: space-evenly;
}
.main48
{
    height: 390px;
    width: 280px;
    text-align: center;
    padding-top: 80px;
    right: 80px;
}
#main49
{
    position: relative; 
    top: 40px;
}
.main50
{
    font-size: 17px;
    line-height: 36px;
    color: #fff4ee;
    font-weight: 700;
    font-family: "Clear Sans";
    position: relative;
    top: 40px;
}
.main51
{
    width: 308px;
    height: 67px;
    font-size: 19px;
    color: #ffece1;
    font-weight: 400;
    font-family: "Clear Sans";
    position: relative;
    top: 60px;
}
#main52
{
    position: relative; 
    top: 40px;
}
#main53
{
    position: relative; 
    top: 40px;
}


#eight
{
    height: 1100px;
    width: 1518px;
    background-color: #ffece1;
    background-image: url(img/Shape-5.png);
}
#main54
{
    padding-top: 70px; 
    padding-left: 900px;
}
#main55
{
    text-align: center;   
}
#p11
{
    font-size: 112px; 
    line-height: 107px; 
    color: #dd7017; 
    font-weight: 700; 
    font-family: Clear Sans; 
    position: relative;
    bottom: 190px;
}
#p12
{ 
    height: 71px; 
    width: 631px;
    font-size: 19px; 
    color: #649483; 
    font-weight: 400; 
    font-family: Clear Sans; 
    position: relative; 
    left: 580px; 
    bottom: 170px;
}
#inp12
{
    height: 30px; 
    width: 160px; 
    background-color: #649483; 
    color: #ffece1; 
    font-weight: bolder; 
    border: none; 
    border-radius: 10px; 
    position: relative; 
    bottom: 150px;
}
#img14
{
    position: relative;
    top: -400px;
    right: 70px;
}


#nine
{
    height: 676px;
    width: 1518px;
    background-color: #649483;
}
#main57
{
    display: flex;
    justify-content: space-around;
} 
.main58
{
    height: auto;
    width: auto;
    position: relative;
    top: 170px;
}
.main59
{
    font-size: 25px;
    line-height: 66px;
    color: #ffece1;
    font-weight: 700;
    font-family: "Clear Sans";
}
.main60
{
    font-size: 19px;
    color: #ffece1;
    font-weight: 400;
    font-family: "Clear Sans";
}
#inp13
{
    height: 40px;
    width: 270px;
    background-color: #649483;
    color: #ffece1;
    font-size: 19px;
    color: #ffece1;
    font-weight: 400;
    font-family: "Clear Sans";
    text-align: start;
    border-radius: 10px;
    border-width: 3px;
    border-color: #fff4ee;
}
#inp14
{
    width: 110px;
    height: 38px;
    border: none;
    border-radius: 14px;
    background-color: #ffece1;
    color: #649483;
    font-size: 19px;
    line-height: 39px;
    font-weight: 700;
    font-family: "Clear Sans";
}
#main62
{
    display: flex;
    padding-top: 250px;
    padding-left: 90px;
}
#main63
{
    height: auto;
    font-size: 19px;
    color: #ffece1;
    font-weight: 400;
    font-family: "Clear Sans";
    font-weight: bold;
}
#main64
{
    position: relative;
    left: 550px;
} 
#img11
{
    position: relative;
    left: 10px;
}
#img12
{
    position: relative;
    left: 20px;
}